#!/usr/bin/env bash

export RUST_LOG=warning,spis=info

export NGINX_PORT=8080

export DATABASE_URL=sqlite:data/spis.db

export SPIS_MEDIA_DIR=${PWD}/data/media
export SPIS_DATA_DIR=${PWD}/data

export SPIS_PROCESSING_RUN_ON_START=false
export SPIS_PROCESSING_SCHEDULE="0 0 2 * * *"

export SPIS_API_MEDIA_PATH=/assets/media
export SPIS_API_THUMBNAIL_PATH=/assets/thumbnails
export SPIS_SERVER_SOCKET=/tmp/spis.sock

export SPIS_FEATURE_FAVORITE="true"
export SPIS_FEATURE_ARCHIVE="true"
