{% match media %}
{% when Some with (media) %}
<div id="hx-media-preview" class="media-preview">
  {% if slideshow %}
  <div id="progress-{{ media.uuid }}"
    style="position: absolute; top: 0; left: 0; height: 4px; background-color: var(--icon-blue); width: 0%; z-index: 250; pointer-events: none;">
  </div>
  {% endif %}
  <div id="hx-media-preview-content" class="media-preview-content" _="
          on load
            add .noscroll to body
          end

          {% if slideshow %}
            {% if media.video %}
            on timeupdate from .img-preview
               set #progress-{{ media.uuid }}.style.width to ((target.currentTime / target.duration) * 100) + '%'
            end
            on ended from .img-preview
              if my.isConnected trigger
                click on #next-btn
              end
            end
            {% else %}
            on load
              set #progress-{{ media.uuid }}.style.transition to 'width {{ features.slideshow_duration }}s linear'
              then set #progress-{{ media.uuid }}.style.width to '100%'
              wait {{ features.slideshow_duration }}s then
              if my.isConnected trigger
                click on #next-btn
              end
            end
            {% endif %}
          {% endif %}

          on touchstart
            set my.swipeAllowed to event.touches.length == 1 and (no window.visualViewport or window.visualViewport.scale == 1)
            if my.swipeAllowed
              set my.startY to event.changedTouches[0].clientY
              set my.swiped to false
              set my.style.transition to 'none'
            end
          end

          on touchmove
            if my.swipeAllowed
              set diff to my.startY - event.changedTouches[0].clientY
              set my.style.transform to 'translateY(' + (diff * -0.3) + 'px)'
            end
          end

          on touchend
            if my.swipeAllowed
              set diff to my.startY - event.changedTouches[0].clientY
              if diff > 120
                set my.swiped to true
                trigger click on #next-btn
              else if diff < -120
                set my.swiped to true
                trigger click on #prev-btn
              else
                set my.swiped to false
                transition *transform to 'translateY(0)' over 200ms
              end
            end
          end

          on click
            if my.swiped halt end
            hide #hx-media-preview with *opacity
            then wait 200ms
            then hide #hx-media-preview with *visibility
            then remove #hx-media-preview-content
            then remove .noscroll from body
          end">
    {% if media.video %}
    <video class="img-preview" controls playsinline
           {% if slideshow %}autoplay muted{% endif %}
           _="on click halt the event's bubbling">
      <source src="{{ media.url }}">
    </video>
    {% else %}
    <img class="img-preview" src="{{ media.url }}">
    {% endif %}
  </div>
  <div class="media-action">
    <!-- Archive button -->
    {% if features.archive_allow %}
    <div class="link" id="del-{{ media.uuid }}" {% if archive %} _='on htmx:afterRequest remove #{"{{ media.uuid }}"}'
      hx-delete="/hx/preview/{{ media.uuid }}" {% else %} hx-get="/hx/preview/{{ media.uuid }}?archive=true" {% endif %}
      hx-trigger="click, keyup[key=='Delete'] from:body" hx-target="#hx-media-preview" hx-swap="outerHTML" role="button"
      aria-label="Archive image">
      <div class="media-action-button"><i
          class="fa-solid fa-trash {% if archive %}fa-shake icon-red{% else %}icon-white{% endif %}"></i></div>
    </div>
    {% endif %}

    <!-- Info button -->
    <div class="link" _="on click remove .hidden from #info-dialog" role="button" aria-label="Show info">
      <div class="media-action-button"><i class="fa-solid fa-circle-info icon-white"></i></div>
    </div>

    <!-- Slideshow button -->
    {% if slideshow %}
    <div class="link" hx-get="/hx/preview/{{ media.uuid }}" hx-trigger="click, keyup[key=='s'] from:body"
      hx-target="#hx-media-preview" hx-swap="outerHTML" role="button" aria-label="Stop Slideshow">
      <div class="media-action-button"><i class="fa-solid fa-stop fa-beat-fade icon-blue"></i></div>
    </div>
    {% else %}
    <div class="link" hx-get="/hx/preview/{{ media.uuid }}?slideshow=true" hx-trigger="click, keyup[key=='s'] from:body"
      hx-target="#hx-media-preview" hx-swap="outerHTML" role="button" aria-label="Start Slideshow">
      <div class="media-action-button"><i class="fa-solid fa-play"></i></div>
    </div>
    {% endif %}

    <!-- Custom Commands -->
    {% for cmd in features.custom_commands %}
    <div class="link"
      hx-put="/hx/preview/{{ media.uuid }}/cmd/{{ cmd.name }}{% if slideshow %}?slideshow=true{% endif %}"
      hx-trigger="click{% if let Some(key) = cmd.hotkey %}, keyup[key=='{{ key }}'] from:body{% endif %}"
      hx-target="#hx-media-preview" hx-swap="outerHTML" role="button" aria-label="{{ cmd.name }}">
      <div class="media-action-button">
        <i class="{{ cmd.fa_icon }} {% if active_command.as_ref() == Some(cmd.name) %}fa-bounce icon-green {% else %}icon-white{% endif %}"
          {% if active_command.as_ref()==Some(cmd.name) %}
          _="on load wait 4s remove .fa-bounce .icon-green then add .icon-white" {% endif %}></i>
      </div>
    </div>
    {% endfor %}

    <!-- Favorite button -->
    {% if features.favorite_allow %}
    <div class="link" _="on htmx:afterRequest toggle between .hidden and .visible on #fav-{{ media.uuid }}"
      hx-put="/hx/preview/{{ media.uuid }}/favorite/{{ !media.favorite }}{% if slideshow %}?slideshow=true{% endif %}"
      hx-trigger="click, keyup[key=='Enter'] from:body" hx-target="#hx-media-preview" hx-swap="outerHTML" role="button"
      aria-label="Toggle favorite">
      {% if media.favorite %}
      <div class="media-action-button"><i class="fa-solid fa-heart icon-pink"></i></div>
      {% else %}
      <div class="media-action-button"><i class="fa-regular fa-heart icon-white"></i></div>
      {% endif %}
    </div>
    {% endif %}

    <!-- Prev button -->
    {% match prev %}
    {% when Some with (prev) %}
    <div id="prev-btn" class="link" hx-get="/hx/preview/{{ prev.uuid }}{% if slideshow %}?slideshow=true{% endif %}"
      hx-trigger="click, keyup[key=='ArrowUp'] from:body, keyup[key=='ArrowLeft'] from:body"
      hx-target="#hx-media-preview" hx-swap="outerHTML" role="button" aria-label="Previous image">
      <div class="media-action-button"><i class="fa-solid fa-chevron-up icon-white"></i></div>
    </div>
    {% when None %}
    {% endmatch %}

    <!-- Next button -->
    {% match next %}
    {% when Some with (next) %}
    <div id="next-btn" class="link" hx-get="/hx/preview/{{ next.uuid }}{% if slideshow %}?slideshow=true{% endif %}"
      hx-trigger="click, keyup[key=='ArrowDown'] from:body, keyup[key=='ArrowRight'] from:body"
      hx-target="#hx-media-preview" hx-swap="outerHTML" role="button" aria-label="Next image">
      <div class="media-action-button"><i class="fa-solid fa-chevron-down icon-white"></i></div>
    </div>
    {% when None %}
    {% endmatch %}

    <!-- Exit button -->
    <div class="link"
      _="on click hide #hx-media-preview with *opacity then wait 200ms then hide #hx-media-preview with *visibility then remove #hx-media-preview-content then remove .noscroll from body"
      role="button" aria-label="Close preview">
      <div class="media-action-button"><i class="fa-solid fa-xmark icon-white"></i></div>
    </div>
  </div>

  <!-- Info Dialog -->
  <div id="info-dialog" class="info-dialog hidden">
    <div class="info-row">
      <span class="info-label">{name}</span>
      <div class="info-value">{{ media.name }}</div>
    </div>
    <div class="info-row">
      <span class="info-label">{path}</span>
      <div class="info-value">{{ media.path }}</div>
    </div>
    <div class="info-row">
      <span class="info-label">{taken_at}</span>
      <div class="info-value">{{ media.taken_at }}</div>
    </div>
    <div class="info-row">
      <span class="info-label">{uuid}</span>
      <div class="info-value">{{ media.uuid }}</div>
    </div>
    <div class="info-row">
      <span class="info-label">{url}</span>
      <div class="info-value">{{ media.url }}</div>
    </div>
    <div class="info-row">
      <span class="info-label">{thumbnail}</span>
      <div class="info-value">{{ media.thumbnail }}</div>
    </div>
    <div class="info-row" style="display: flex; justify-content: flex-end; margin-top: 10px; margin-bottom: 0;">
      <div class="link" _="on click add .hidden to #info-dialog" role="button" aria-label="Close info">
        <div class="media-action-button">
          <i class="fa-solid fa-xmark icon-white"></i>
        </div>
      </div>
    </div>
  </div>
</div>
{% when None %}
<div id="hx-media-preview" _="on load remove .noscroll from body"></div>
{% endmatch %}
