<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="application-name" content="SPIS">
  <meta name="description" content="Simple Private Image Server">
  <meta name="theme-color" content="#2b2b2b">

  <link rel="manifest" href="/assets/manifest.json">
  <link rel="icon" type="image/png" href="/assets/favicon.png">

  <link rel="stylesheet" href="/assets/fa/css/brands.min.css">
  <link rel="stylesheet" href="/assets/fa/css/fontawesome.min.css">
  <link rel="stylesheet" href="/assets/fa/css/regular.min.css">
  <link rel="stylesheet" href="/assets/fa/css/solid.min.css">

  <script src="/assets/scripts/htmx-2.0.7.js"></script>
  <script src="/assets/scripts/hyperscript-0.9.14.js"></script>
  {% if self::dev_enabled() %}
  <script src="/assets/scripts/dev-ws.js"></script>
  {% endif %}

  <style>
    {% include "style.css" %}
  </style>

  <title>SPIS</title>
</head>

<body>
  <div hx-get="/hx/gallery" hx-trigger="load" hx-swap="outerHTML" />
</body>

</html>
