{% match media %}
  {% when Some with (media) %}
    <div id="hx-media-preview" class="media-preview">
      <div class="media-preview-content" _="on click hide #hx-media-preview">
        {% if media.video %}
        <video class="img-preview" autoplay="" controls="">
          <source type="video/mp4" src="{{ media.url }}">
        </video>
        {% else %}
        <img class="img-preview" src="{{ media.url }}">
        {% endif %}
      </div>
      <div class="media-action">
        <!-- Prev button -->
        {% match prev %}
          {% when Some with (prev) %}
            <a href="#"
              hx-get="/hx/preview/{{ prev.uuid }}"
              hx-trigger="click, keyup[key=='ArrowLeft'] from:body"
              hx-target="#hx-media-preview"
              hx-swap="outerHTML">
              <div class="media-action-button"><i class="fa-solid fa-chevron-left icon-white"></i></div>
            </a>
          {% when None %}
            <div></i></div>
        {% endmatch %}

        <!-- Archive button -->
        {% if archive_allow %}
        <a href="#" id="del-{{ media.uuid }}"
          {% if archive_confirm %}
          _='on htmx:afterRequest remove #{"{{ media.uuid }}"}'
          hx-delete="/hx/preview/{{ media.uuid }}/confirm"
          {% else %}
          hx-delete="/hx/preview/{{ media.uuid }}"
          {% endif %}
          hx-trigger="click, keyup[key=='Delete'] from:body"
          hx-target="#hx-media-preview"
          hx-swap="outerHTML">
          <div class="media-action-button"><i class="fa-regular fa-trash-can {% if archive_confirm %}icon-red{% else %}icon-white{% endif %}"></i></div>
        </a>
        {% endif %}

        <!-- Exit button -->
        <a href="#" _="on click hide #hx-media-preview">
          <div class="media-action-button"><i class="fa-solid fa-xmark icon-white"></i></div>
        </a>

        <!-- Favorite button -->
        {% if favorite_allow %}
        <a href="#"
          _="on htmx:afterRequest toggle between .hidden and .visible on #fav-{{ media.uuid }}"
          hx-put="/hx/preview/{{ media.uuid }}/favorite/{{ !media.favorite }}"
          hx-trigger="click, keyup[key=='f'] from:body"
          hx-target="#hx-media-preview"
          hx-swap="outerHTML">
        {% if media.favorite %}
          <div class="media-action-button"><i class="fa-solid fa-heart icon-pink"></i></div>
        {% else %}
          <div class="media-action-button"><i class="fa-regular fa-heart icon-white"></i></div>
        {% endif %}
        </a>
        {% endif %}

        <!-- Next button -->
        {% match next %}
          {% when Some with (next) %}
            <a href=""
              hx-get="/hx/preview/{{ next.uuid }}"
              hx-trigger="click, keyup[key=='ArrowRight'] from:body"
              hx-target="#hx-media-preview"
              hx-swap="outerHTML">
              <div class="media-action-button"><i class="fa-solid fa-chevron-right icon-white"></i></div>
            </a>
          {% when None %}
            <div></i></div>
        {% endmatch %}
      </div>
    </div>
  {% when None %}
    <div id="hx-media-preview"></div>
{% endmatch %}
