<main id="hx-main" class="main" hx-include="#hx-bar" hx-ext="sse" sse-connect="/hx/sse?{{ state.as_query() }}">
  <div id="hx-media-preview">
  </div>
  <nav id="hx-bar" class="bar" aria-label="Gallery filters">
    {% include "web/bar/bar.html" %}
  </nav>
  <section class="media-gallery">
    <ul class="media-list">
      {% include "web/gallery/list.html" %}
    </ul>
  </section>
  <div class="scroll-to-top" _="on click window.scrollTo({top: 0, behavior: 'smooth'})
          on scroll from window
            if window.scrollY > 300 then add .visible else remove .visible end
          end" aria-label="Scroll to top">
    <i class="fa-solid fa-arrow-up"></i>
  </div>
</main>
