{% let count = media.len() %}
{% let cursor = media|cursor %}
{% if count > 0 %}
{% for media in media %}
<li id="{{ media.uuid }}" class="media-item link" hx-get="/hx/preview/{{ media.uuid }}" hx-trigger="click"
  hx-target="#hx-media-preview" hx-swap="outerHTML">
  <img src="{{ media.thumbnail }}" class="media-thumbnail" loading="lazy" aria-label="View media">

  {% if features.favorite_allow %}
  <div id="fav-{{ media.uuid }}" class="media-thumbnail-fav {% if media.favorite %}visible{% else %}hidden{% endif %}">
    <i class="fa-solid fa-heart icon-pink"></i>
  </div>
  {% endif %}

  {% if media.video %}
  <div class="media-thumbnail-vid"><i class="fa-solid fa-play icon-white"></i></div>
  {% endif %}

  {% if loop.index0 == count / 3 && cursor != "" %}
  <div hx-get="/hx/gallery/more?{{ cursor }}" hx-trigger="revealed" hx-target="#hx-media-thumbnail-loader-target"
    hx-swap="outerHTML" class="media-thumbnail-loader-trigger" />
  {% endif %}
</li>
{% endfor %}
<li id="hx-media-thumbnail-loader-target" class="media-thumbnail-loader-target" />
{% endif %}
