---
name: CI

on:
  workflow_call:
  # pull_request:
    # paths:
    #   - 'spis-*/**'
  # push:
  #   branches: main
    # paths:
    #   - 'spis-*/**'

jobs:
  ci:
    name: Run ${{ matrix.target }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        target: [fmt, lint, audit, test]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install rust toolchain
        uses: ./.github/actions/toolchain

      - name: Run ${{ matrix.target }}
        run: make ${{ matrix.target }}

      - name: Upload test coverage
        uses: codecov/codecov-action@v3
        if: matrix.target == 'test'
        with:
          fail_ci_if_error: true
