---
name: CI

on:
  workflow_call:
  pull_request:
  push:
    branches:
      - main

jobs:
  ci:
    name: Run ${{ matrix.target }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        target:
          [
            "lint-fmt",
            "lint-clippy",
            "lint-taplo",
            "test",
            "template",
            "js-libs",
          ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install rust toolchain
        uses: ./.github/actions/toolchain
        with:
          cache-key: ${{ matrix.target }}

      - name: Run ${{ matrix.target }}
        run: make ${{ matrix.target }}
        env:
          DATABASE_URL: sqlite:data/spis.db

      - name: Upload test coverage
        uses: codecov/codecov-action@v5
        if: matrix.target == 'test'
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
