---
name: Release

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  VERSION: ${{ github.ref_name }}

jobs:
  ci:
    name: Run CI
    uses: ./.github/workflows/ci.yml

  build-bins:
    name: Build binary ${{ matrix.target }}
    runs-on: ubuntu-latest
    needs: ci

    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - armv7-unknown-linux-gnueabihf
          - aarch64-unknown-linux-gnu

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install rust toolchain
        uses: ./.github/actions/toolchain

      - name: Build spis release
        run: make release/spis-${{ matrix.target }}
        env:
          DATABASE_URL: sqlite:data/spis.db

      - name: Store artifact
        uses: actions/upload-artifact@v4
        with:
          name: spis-${{ matrix.target }}
          path: release/spis-${{ matrix.target }}

  release-bins:
    name: Release binaries
    runs-on: ubuntu-latest
    needs: build-bins

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          path: release
          pattern: spis-*
          merge-multiple: true

      - name: Upload artifacts to release
        uses: AButler/upload-release-assets@v3.0
        with:
          files: 'release/*'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ env.VERSION }}

  release-docker:
    name: Release docker
    runs-on: ubuntu-latest
    needs: build-bins

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          path: release
          pattern: spis-*
          merge-multiple: true

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:qemu-v6.1.0-20
          platforms: all

      - name: Setup buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    name: Deploy to fly.io
    runs-on: ubuntu-latest
    needs: release-docker

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy
        run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
